.khan__quote {
  margin-top: 50px;
  margin-bottom: 36px;
  width: 790px;

  font-size: 24px;
  line-height: 34px;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.khan__quote-author-subline {
  margin-top: 10px;
  line-height: 1.15;
  font-size: 24px;
  margin-bottom: 68px;
}
