@keyframes rotate-clockwise {
  0% {
    transform: rotate(0deg);
  }
  8.33% {
    transform: rotate(30deg);
  }
  16.67% {
    transform: rotate(60deg);
  }
  25% {
    transform: rotate(90deg);
  }
  33.33% {
    transform: rotate(120deg);
  }
  41.67% {
    transform: rotate(150deg);
  }
  50% {
    transform: rotate(180deg);
  }
  58.33% {
    transform: rotate(210deg);
  }
  66.67% {
    transform: rotate(240deg);
  }
  75% {
    transform: rotate(270deg);
  }
  83.33% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --custom_blue: #2f80ed;
  --gray_bg: #f2f2f2;
  --black_bg: #1f1f1f;
}
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}
